:root {
    --primary-color:#155bd5;
    --body-fonts: "Inter", sans-serif;
    --line-height: 1.5;
    --text-color:#d3d3d3da;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0,0.75),rgba(0,0,0,0,0.75)),url('./assets/images/rugova-canyon.jpg');
    background-position: center;
    background-size: cover;
    
}